<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>3列左右侧固定，中间列自适应居中 + 头部 + 导航 + 尾部</title>
        <link rel="stylesheet" href="layout.css">
    </head>
    <body>
        <div class="yas-container">
            <div class="yas-header"></div>
            <div class="yas-menu"></div>
            <div class="yas-content">
                <div class="yas-sidebar yas-left"></div>
                <div class="yas-sidebar yas-right"></div>
                <!-- 这里div的顺序很重要,先方两边的div，然后最后填充中间的 -->
                <div class="yas-main"></div>
            </div>
            <div class="yas-footer"></div>
        </div>
    </body>
</html>