body {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

/**
*在IE的quirks的模式下，margin：0 auto;居中失效
*解决方法：body { text-align: center }; # { content: text-align: left }
**/
# {
    content: text-align: left
}

.yas-container {
    width: 900px;
    margin: 0 auto;
    text-align: center;
}

/**
*子元素貌似不可以继承父元素的height属性，必须在子元素中声明
**/
.yas-sidebar {
    width: 200px;
    height: 500px;
    background-color: #43CD80;
    float: right;
}

.yas-main {
    width: 695px;
    height: 500px;
    background-color: #4876FF;
    /*因为是固定宽度，采用左右浮动方法可有效避免ie 3像素bug*/
    float: left;
}