body {
    margin: 0px;
    padding: 0px;
}

/**
*在IE的quirks的模式下，margin：0 auto;居中失效
*解决方法：body { text-align: center }; # { content: text-align: left }
**/
# {
    content: text-align: left
}

.yas-left {
    float: left;
}

.yas-right {
    float: right;
}

/**
*清除浮动
**/
.yas-clear {
    clear: both;
}

.yas-container {
    width: 100%;
    margin: 0 auto;
}

.yas-header {
    height: 50px;
    background-color: #f89406;
}

.yas-menu {
    height: 20px;
    margin: 5px auto;
    background-color: #387038;
}

/**
*父元素不定义高度，高度采用自适应
**/
.yas-content {
    /**父元素高度自适应**/
    overflow: auto;
    /**触发IE的hasLayout,CSS hack**/
    zoom: 1;
    background: url("bg.gif") 0 0 repeat-y;
}

/**
*子元素高度自适应
**/
.yas-sidebar {
    width: 200px;
    background-color: #9ff;
}

/**
*高度自适应，依靠内部内容决定高度
**/
.yas-main {
    height: auto !important;
    height: 1px;
    margin-left: 205px !important;
    margin-left: 202px;
    background-color: #4876FF;
}

.yas-footer {
    height: 50px;
    margin-top: 5px;
    background-color: #C6E746;
}